<%= form_for field, html: { data: { turbo: 'false' } } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>

	
	<% if @field.persisted?  %>
		<div class="form-group">
			<%= f.label :area %>
				<%= f.number_field :area, disabled: true, class: 'form-control' %>
		</div>
	<% end %>

	<%= f.hidden_field :shape, id: 'shape-field', value: RGeo::GeoJSON.encode(field.shape).to_json %>

	<%= f.submit t('.save'), class: 'btn btn-success' %>
<% end %>

<div id="map"></div>





