<% content_for :head do %> 
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<% end  %>

<div id="map" class="index-map"></div>

<div class="show-options">
  <%= link_to t('.show_as_list'), fields_path(disable_pagy: true), data: { turbo: false } %> |
  <%= link_to t('.show_as_pages'), fields_path, data: { turbo: false } %>
</div>
<table class="table fields-index">
  <thead>
    <tr>
      <th>
        <%= link_to "#{t '.id'} #{sort_indicator('id')}", fields_path(q: { s: "id #{sort_direction('id')}" }),
          data: { turbo: false } %>
      </th>
      <th>
        <%= link_to "#{t '.name'} #{sort_indicator('name')}", fields_path(q: { s: "name #{sort_direction('name')}" }),
          data: { turbo: false } %>
      </th>
      <th>
        <%= link_to "#{t '.area'} #{sort_indicator('area')}", fields_path(q: { s: "area #{sort_direction('area')}" }),
          data: { turbo: false } %>
      </th>
      <th>
        <%= link_to "#{t '.created_at'} #{sort_indicator('created_at')}", fields_path(q: { s: "created_at #{sort_direction('created_at')}" }),
          data: { turbo: false } %>
      </th>
      <th>
        <%= link_to "#{t '.updated_at'} #{sort_indicator('updated_at')}", fields_path(q: { s: "updated_at #{sort_direction('updated_at')}" }),
          data: { turbo: false } %>
      </th>
    </tr>
  </thead>
    <tbody>
			<% @fields.each do |field| %>
			  <tr id="field-<%= field.id %>">
          <td><%= field.id %></td>
          <td><%= link_to field.name, edit_field_path(field), data: { turbo: false } %></td>
          <td><%= field.area&.round(2) %></td>
          <td><%= field.created_at %></td>
          <td><%= field.updated_at %></td>
					<td hidden class="item-geojson"><%= RGeo::GeoJSON.encode(field.shape).to_json %></td>
					<td hidden class="item-link"><%= link_to field.name, edit_field_path(field), data: { turbo: false } %></td>
        </tr>
			<% end %>
    </tbody>
</table>

<% if @pagy.present?  %>
  <nav data-turbo="false">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 0 %>
  </nav>
<% end %>
