<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'Fields Management System', root_url, class: 'navbar-brand', data: { turbo: false } %>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to t('.new_field'), new_field_path, class: 'nav-link', data: { turbo: false } %>
        </li>
      </ul>
      <%= form_with url: fields_path, method: :get, class: "form-inline", local: true, data: { turbo: false } do %>
        <%= text_field_tag 'q[name_cont]', params.dig(:q, :name_cont), placeholder: t('.search_by_name'), class: "form-control mr-sm-2", aria: { label: "Search" } %>
        <%= submit_tag t('.search'), class: "btn btn-outline-info my-2 my-sm-0" %>
      <% end %>
    </div>
  </nav>